*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-money{
  background-color: #24C486;
  font-size: large;
  align-items: center;
  justify-content: center;
}