.text-center {
    text-align: center;
}
body {
    font-family: 'Montserrat', sans-serif;
    
}
h2 {
    color: blue;
}
li {
    list-style-position: inside;
}
a {
    background-color: burlywood;
    color: black;
}