*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
html{
  overflow-x: hidden;
}
p{
  margin: 0;
}
li{
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.liste-ogesi {
  margin-bottom: 10px;
}
ul{
  margin: 0;
  padding: 0;

}
a{
  text-decoration: none;
  color: white;
}
/* Header Start */
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}

.flexHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.menu-btn ,.menu-icon{
  display: none;
}

.menu{
  list-style: none;

}

.menu li{
  display: inline;
  padding: 10px;
  position: relative;
  
  
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color:#355592 0%;
  
}

#join-us {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #ff6600, #ffcc66);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  padding: 5px 10px;
}
#join-us:hover {
  background: linear-gradient(to bottom, #f29557, #ffcc66);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  padding: 5px 10px;
}
 /* Header END */
.hero {
  width: 100%;
  background-image: url("/Resimler/hero-man.jpg");
  background-size: cover; 
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative; 
}
.hero-section{
  min-height: 80vh;
  padding: 2rem 10% 2rem;
}
#powerfull {
  
  border-radius: 5px;
  border-color: #355592;
  background-color:#355592;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height:30px;
  padding: 5px 10px;
  text-shadow: 2px 4px 3px black;
}
.heroTitle{
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0px;
}

.transparent-bg-color{
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
#sign-up{
  border-radius: 5px;
  border-color: #355592;
  background-color:#355592;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height:30px;
  padding: 10px 15px;
  margin: 5px 15px;
}
#details{
  border-style: solid;
  border-radius: 3px;
  border-color:white;
  border-width: 1px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height:30px;
  padding: 10px 15px;
  margin: 5px 15px;
}
.section-content{
  font-weight: 600; 
  text-align: center; 
  margin-top: 20px
}
#under-section{
  width: 100%;
  height: 20vh;
  background-color: #F1F8FF;
  padding: 2rem 10% 2rem;
}
.US-flex {
  display: flex;
  justify-content: space-around;
  padding: 20px;
 }
.box {
  background-color: white;
  width: 300px;
  margin: 10px;
  padding:10px;
  text-align: center;
 }
 
 .box p {
  font-size:24px;
  margin-bottom:5px;
  color: #375184;
  font-weight: bold;
 }
 
 .box span {
  font-size:18px;
  color:black; 
  font-weight: 900;
 }
 .classes-bg{
  background: linear-gradient(70deg, #FFFFFF 0% 40%, #F6F6F6 40% 100%);
  width: 100%;
 }

 .classes-flex{
  display: flex;
  align-items: center;
  flex-direction: column;
  
 }
 .section-title{
  font-size: 30px;
  font-weight: 900;
  color: #375184;
  margin-top: 10%;
 }
 .relative{
  position: relative;
 }
 .bar-size{
  width: auto;
  
 }
.bar{
  position: absolute;
  top: 100%;
  left: 30%;
  width: 40%;
  height: 10%;
  border-radius: 5px;
  background-color: #F29E08;
  z-index: 10;
}
.bmi {
  padding: 2rem 10% 2rem;
}
.vki-img{
  position: relative;
  
}
.vki-scale{
  position: absolute;
  content: "";
  top: 100%;
  left: 0%;
  width: 20px;
  height: 20px;;
  background-color: #F29E08;
  z-index: 10;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.trainer-img{
  position: relative;
  width: 300px;
  height: 350px;
  z-index: 5;
}
.border-img{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;   
  width: 105%;
  height: 105%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #F29E08;
  z-index: -1;
}


.border-img-line {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 110%;
  height: 60px;
  transform: translate(-50%, -50%);
  background-color: #355592;
  z-index: -2;
  transition: 0.5s all linear;
}
.border-img-line2 {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 60px;
  height: 110%;
  transform: translate(-50%, -50%);
  background-color: #355592;
  z-index: -2;
  transition: 0.5s all linear;
}
.mavi-div {
  position: absolute;
  content: "";
  top: 70%;
  left: 10%;
  width: 250px;
  height: 25%;
  background-color:#355592;
  color: white; 
  padding: 10px;
  text-align: center;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  z-index: -1;
}

.trainer-img:hover .border-img-line{
  height: 160px;
}
.trainer-img:hover .border-img-line2{
  width: 160px;
}
.trainer-img:hover .mavi-div{
  z-index: 15;
}

.button {
  border-radius: 5px;
  background-color: #355592;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  padding: 10px 15px;
  margin: 5px 25px;
  cursor: pointer;
  position: relative;
}

.button-clicked {
  border-radius: 5px;
  
  background-color:#F29E08;;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  padding: 10px 15px;
  margin: 5px 15px;
  cursor: pointer;
  position: relative;
}
.button-clicked::after{
  background-color: #F29E08;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10px;
  clip-path: polygon(50% 45%, 20% 0, 80% 0);
}
.img{
  width: 500px;
}
.margi50px{
  margin-top: 50px ;
}

.vh-50{
  height: 50vh;
}
.margin10px{
  margin: 10px;
}

.input-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

#height, #weight {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.trainer-bg{
  background-color:#F1F8FF ;
  width: 100%;
 }

.purchase-bg{
  background-color: white;
  width: 100%;
 }
 .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  
}

.card {
  width: 20%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.card img {
  height: 400px;
  object-fit: cover;
}

.card-content {
  text-align: center;
}
.eski-fiyat {
  text-decoration: line-through;
  color: #000;
  margin-right: 10px;
}

.yeni-fiyat {
  font-weight: bold;
  color: #000;
}

.sepete-ekle {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-p {
  margin-bottom: 10px;
}

.ikon-metin {
  display: flex; 
  align-items: center; 
  padding: 10px;
}

.ikon {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
  border-radius: 50%;
}

.metin1 {
  font-size: 20px; 
  font-weight: bold; 
  color: black; 
}

.metin2 {
  font-size: 14px; 
  color: gray; 
  font-weight: bold;
}

.client-comment{
  position: relative;
  width: 80%;
  height: auto;
  background-color: #325493;
  color: #FFFFFF;
  padding: 20px;
}
.flex-only{
  display: flex;
}

.triangle1{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 100%;
  transform: translateX(-50%);
  left:50%;
  background-color: #8197BF;
  z-index: 10;
  clip-path: polygon(30% 0%, 100% 0, 100% 0, 90% 24%, 90% 0, 10% 0, 10% 25%, 0 0);
}
.pl20px{
  padding-left: 20px;
}



.sol-bolum {
  width: 50%;
  
  padding: 20px;
}

.iletisim {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px; 
}

.randevu {
  padding-top: 10px; 
  height: 100%;
}

.randevu h2 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #4E4E4E;
}


.randevu input, .randevu textarea {
  border-width: 0;
  width: 100%; 
  margin-top: 10px;
  padding: 5px; 
  background-color: #F1F8FF;
  
}
.randevu textarea{
  height: 200px;
}


.sag-bolum {
  width: 50%;
}
.footer{
  background-color: #325493;
  height: 50vh;
  padding: 0rem 10% 0rem;
}

.space-around {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px; 
}

section {
  min-height: 100vh;
  min-width: none;
  padding: 2rem 10% 2rem;
}
.trainer-card{
  margin: 40px;
 }

 .flex-client{
  display: flex;
  flex-direction: row;
 }
 .flex-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 form {
  height: 100%;
 }
@media (max-width: 576px) {
 
 
 navbar{
  position: absolute;
  transform: translateY(-150%);
 }
 .menu-btn:checked ~ navbar{
  display: block;
  top: 100%;
  left: 70%;
  width: 100%;
  transform: translateY(0);
  transition: 0.2s linear;
  background-color: #325493;
 }
 .menu-btn:checked ~ navbar ul li{
  display: block;
  font-size: 1rem;
  margin: 1rem;
 }
 .menu-icon{
  display: block;
  font-size: 4rem;
  color: white;
  cursor: pointer;
 }
 hero-section{
  flex-direction: column;
  padding: 30px 10px 0px;
 }
 .card-container{
  flex-direction: column;
 }
 .card {
  width: 100%;
 }
 .flex{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .flex-only{
  display: flex;
  flex-direction: column;
}
 .inline{
  display: inline-flex;
 }
 #under-section{
  width: 100%;
  height: 70vh;
  background-color: #F1F8FF;
  padding: 2rem 10% 2rem;
}
.US-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  
 }
 .vh-50{
  height: 70vh;
 }
 .classes-flex{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  
 }

 .client-comment{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #325493;
  color: #FFFFFF;
  padding: 5px;
  margin-top: 10px;
}
.sol-bolum {
  width: 100%;
  padding: 20px;
}
.iletisim {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 20px; 
}

}